<div class="toolbar" role="banner">
    <img
      width="15%"
      alt="Logo My 2 Cent"
      src="/assets/Logo.png"
      onclick="location.href='bienvenido'"
    />
  </div>
<hr>
<hr>
<br>

<div class= "container-all">
    <div class="row">

        <div class= "col-md-3 col-xl-2 bd-sidebar"  >
          <div class= "menua">
  
            <input type="checkbox" id = "check">
              <label for="check" class="menu"></label>
              <nav class="menup">
                  <ul>
                      <li onclick="location.href='cuentas'">Cuentas</li>
                      <li onclick="location.href='bienvenido'">Inicio</li>
                      <li onclick="location.href=''">Salir</li>
                  </ul>
              </nav>
          </div>
        </div>  
        <div class= "col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
          <div>
            <h1 class= "nombre">{{nombre}}</h1>
            <h1 class = "nombre">{{lastname}}</h1>
            <h2 class = "nombre">{{username}}</h2>
            <h2 class="nombre ">{{birth}}</h2>
            <h3 class ="nombre">{{mail}}</h3>       
          </div>
        </div>
    </div>

</div>
