<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="toolbar" role="banner">
    <img
      width="19%"
      alt="Logo My 2 Cent"
      src="/assets/Logo.png"
      onclick="location.href=''"
    />
    <div class="boton-ingresar">
        <button class="btn btn-outline-primary" onclick="location.href='ingresar'">
            INGRESAR
          </button>
    </div>  
  </div>
<div class="formulario">
    <form>
        <div class="titulo">
            <h1 class="display-4">REGISTRATE</h1>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nombres">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Apellidos">
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Edad">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Usuario">
            </div>
        </div>
        <br>
          <div class="row">
            <div class="col">
              <input type="email" class="form-control" placeholder="Correo">
            </div>
            <div class="form-group col-md-4">
                <select id="inputState" class="form-control">
                  <option selected>Genero</option>
                  <option>Masculino</option>
                  <option>Femenino</option>
                </select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <input type="password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Repetir contraseña">
            </div>
          </div>
          <br>
          <div class="boton">
            <button type="submit" class="btn btn-success">Registrarse</button>
          </div>
          
      </form>
</div>
