<div class="toolbar" role="banner">
    <img
      width="19%"
      alt="Logo My 2 Cent"
      src="/assets/Logo.png"
      routerLink=""
    />
    <div class="boton-ingresar">
        <button class="btn btn-outline-primary" routerLink="/ingresar">
            INGRESAR
          </button>
    </div>  
  </div>
<div class= "intro">
  <div class="formulario">
    <form>
        <div class="titulo">
            <h1 class="display-4">REGISTRATE</h1>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nombres" [(ngModel)]="newUserObject.UserName" name="UserName">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="newUserObject.UserLastName" name="UserLastName">
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
              <input type="date" class="form-control" placeholder="Edad" [(ngModel)]="newUserObject.UserBirth" name="UserBirth">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Usuario" [(ngModel)]="newUserObject.UserNickName" name="UserNickName">
            </div>
        </div>
        <br>
          <div class="row">
            <div class="col">
              <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="newUserObject.UserMail" name="UserMail">
            </div>
            <div class="form-group col-md-4">
                <select id="inputState" class="form-control" [(ngModel)]="newUserObject.UserGender" name="UserGender">
                  <option selected disabled>Género</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                </select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="newUserObject.UserPassword" name="UserPassword">
            </div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Repetir contraseña">
            </div>
          </div>
          <br>
          <div class="boton">
            <button type="submit" class="btn btn-success" (click)="userRegister()">Registrarse</button>
          </div>
          
      </form>
</div>
</div>  

