<div class="toolbar" role="banner">
    <img
      width="19%"
      alt="Logo My 2 Cent"
      src="/assets/Logo.png"
      onclick="location.href='bienvenido'"
    />
  </div>
<div class= "intro">
  <div class="formulario">
    <form>
        <div class="titulo">
            <h1 class="display-4">GASTOS</h1>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col">
            <input type="Nomber" class="form-control" placeholder="Cantidad">
          </div>
          <div class="col">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tipo de gasto
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">Arriendo</button>
                  <button class="dropdown-item" type="button">Credito</button>
                  <button class="dropdown-item" type="button">Servicios</button>
                  <button class="dropdown-item" type="button">Vehículo</button>
                  <button class="dropdown-item" type="button">Mascota</button>
                  <button class="dropdown-item" type="button">Otro</button>
                </div>
              </div>
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
              <input type="date" class="form-control" placeholder="fecha">
            </div>
            <div class="col">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 142px;">
                    Periocidad
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Quincenal</button>
                    <button class="dropdown-item" type="button">Mensual</button>
                  </div>
            </div>
            <br>
            <br>
            <br>
        </div>
          <div class="boton">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>
          
      </form>
</div>
</div>  

