<div class="toolbar" role="banner">
    <img
      width="19%"
      alt="Logo My 2 Cent"
      src="/assets/Logo.png"
      routerLink=""
    />
      <div class="spacer">
      <button class="btn btn-outline-primary" routerLink="ingresar" >
        INGRESAR
      </button>
    </div>
      <button class="btn btn-outline-success" routerLink="registrarse">
        REGISTRARSE
      </button>
  
  </div>
  
  <div class="intro" style="background-color: #007bff;" >
    <img src="/assets/intro.png" alt="Intro" style="margin-top: center;">
  </div>
  