<div class="toolbar" role="banner">
    <img
      width="15%"
      alt="Logo My 2 Cent"
      src="/assets/Logo.png"
      onclick="location.href=''"
    />
  </div>
<hr>
<hr>
<br>

<div class= "container-all">
    <div class="row">

        <div class= "col-md-3 col-xl-2 bd-sidebar" style="background-color: #012333;" >
          <div class= "menua">
  
            <input type="checkbox" id = "check">
              <label for="check" class="menu">menu</label>
              <nav class="menup">
                  <ul>
                      <li onclick="location.href='gastos'">Gastos</li>
                      <li onclick="location.href='ingresos'">Ingresos</li>
                      <li>Perfil</li>
                      <li onclick="location.href=''">Salir</li>
                  </ul>
              </nav>
          </div>
        </div>
        <div class= "col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
            <form class="formulario">
                <div class="row">
                    <div class="col-2">
                        <div>
                            <div class="grafica">
                              <div  style="display: block">
                                <canvas baseChart
                                  [datasets]="barChartData"
                                  [labels]="barChartLabels"
                                  [options]="barChartOptions"
                                  [legend]="barChartLegend"
                                  [chartType]="barChartType">
                                </canvas>
                              </div>
                              <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
                            </div>
                        </div>    
                    </div>
                    <div class="col-2">
                        <div class="grafica">
                            <div  style="display: block">
                              <canvas baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType">
                              </canvas>
                            </div>
                          </div>
                    </div>         
                </div>
                <div class="row">
                    <div class="col-2">
                        <div>
                            <div class="grafica">
                              <div >
                                <div >
                                  <canvas baseChart
                                    [data]="pieChartData"
                                    [labels]="pieChartLabels"
                                    [chartType]="pieChartType"
                                    [options]="pieChartOptions"
                                    [colors]="pieChartColors"
                                    [legend]="pieChartLegend">
                                  </canvas>
                                </div>
                              </div>
                              <button mat-button mat-raised-button color="primary" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
                              <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
                              <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
                              <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
                              <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()">Change Legend Position</button>
                          
                            </div>
                          </div>
               
                    </div>   
                    <div class="col-2">
                        <div class="grafica">
                            <div>
                              <div style="display: block">
                                <canvas baseChart
                                  [datasets]="bubbleChartData"
                                  [options]="bubbleChartOptions"
                                  [colors]="bubbleChartColors"
                                  [legend]="bubbleChartLegend"
                                  [chartType]="bubbleChartType">
                                </canvas>
                              </div>
                              <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
                            </div>
                          </div>
                    </div>   
                    
                </div>
                
            </form>
        </div>
    </div>

</div>

  
