<div class="toolbar" role="banner">
    <img class="logo"
      width="15%"
      alt="Logo My 2 Cent"
      src="/assets/Logo.png"
      onclick="location.href='bienvenido'"
    />
    <div>
      <p class ="nombre" onclick="location.href='perfil'">Hola {{ nombre }}</p>
    </div>
  </div>
<hr>
<hr>
<br>

<div class= "container-all">
    <div class="row">

        <div class= "col-md-3 col-xl-2 bd-sidebar">
          <div class= "menua">
  
            <input type="checkbox" id = "check">
              <label for="check" class="menu"></label>
              <nav class="menup">
                  <ul>
                      <li onclick="location.href='cuentas'">Cuentas</li>
                         <li onclick="location.href='perfil'">Perfil</li>
                      <li onclick="location.href=''">Salir</li>
                  </ul>
              </nav>
          </div>
        </div>
        <div class= "col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
          <div class= "container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" class="nav-link" routerLink="/barras">Historial</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" routerLink="/dona">Debito</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" routerLink="/pie">Crédito</a>
                </li>
            </ul>
          </div>
          <div>
            <div style = "display: block">
            <canvas baseChart
                [datasets] = "barChartData"
                [labels] = "barChartLabels"
                [options] = "barChartOptions"
                [legend] = "barChartLegend"
                [chartType] = "barChartType"
            ></canvas>
            </div>
          </div>
        </div>
    </div>

</div>

  
